*{
    font-family: 'Oswald';
}

@import url('https://fonts.googlepis.com/css?family=Oswald');

.spawnbackground{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    position: fixed;
}

.map{
    width: 1;
}